{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <div class="form-signin">
                <form method="post" class="form-signin">
                  <h2 class="card-title text-center">Signup</h2>{% csrf_token %}
                  {{ form|crispy }}
                  <button type="submit" class="btn btn-primary btn-block">Signup</button>
                </form>
                <br>
                <hr class="my-4">
                <a class="btn btn-lg btn-google btn-block text-uppercase" href="{% url 'social:begin' 'google-oauth2' %}">Sign in with Google</a><br>
                <a class="btn btn-lg btn-facebook btn-block text-uppercase" href="{% url 'social:begin' 'facebook' %}">Sign in with Facebook</a><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}