* {
   background: #000000;
   color: #ffffff;
}

.nav-container {
   background: red;
}

.movement-container ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   background-color: #00ffff
}

