{% extends "base.html" %}

{% block title %}
    Clock
{% endblock %}

{% block stylesheets %}
{% load static %}
   <link rel="stylesheet" href="{% static 'css/clock.css' %}"/>
{% endblock %}

{% block body %}
   <div class="clock-container">
      
      <h1>Clock</h1>
      <div class="clock">
         <div class="digit hours">
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
         </div>

         <div class="digit hours">
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
         </div>

         <div class="separator"></div>

         <div class="digit minutes">
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
         </div>

         <div class="digit minutes">
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
         </div>

         <div class="separator"></div>

         <div class="digit seconds">
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
         </div>

         <div class="digit seconds">
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
         </div>

         <div class="separator"></div>

         <div class="digit milliseconds">
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
         </div>

         <div class="digit milliseconds">
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
         </div>

         <div class="digit milliseconds">
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
            <div class="segment"></div>
         </div>
         
      </div>

      <div id="ctrl-btns">
         <button id="start-btn">Start</button>
         <button id="stop-btn">Stop</button>
      </div>

      <div>
         <ol id='clock-list'>
         </ol>
      </div>

   </div>

{% endblock %}


{% block javascripts %}
{% load static %}
<script type="text/javascript" src="{% static 'js/clock.js' %}"></script>
{% endblock %}

